<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>NBA-Playerlist</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="col-md-12" style="padding:20px 0; text-align: right;">
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="margin-right: 15px;"/>
        </form>
    </div>
    <h1 style="margin-left: 15px;">NBA-Playerlist</h1>
    <div>
        <h2 style="margin-left: 15px;">Hello <span sec:authentication="name"></span>!</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Number</th>
                <th>Country</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Age</th>
                <th>Position</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.name}"></td>
                <td th:text="${player.team}"></td>
                <td th:text="${player.number}"></td>
                <td th:text="${player.country}"></td>
                <td th:text="${player.height}"></td>
                <td th:text="${player.weight}"></td>
                <td th:text="${player.age}"></td>
                <td th:text="${player.position}"></td>
                <td th:text="${player.points}"></td>
                <td th:text="${player.category?.name}">No Category</td>
                <td>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${player.id})}">Delete</a>
                        <a class="btn btn-primary" th:href="@{/edit/{id}(id=${player.id})}">Edit</a>
                    </span>
                </td>
            </tr>
            <p>
                <a href="/addplayer" class="btn btn-success" style="margin-left: 15px;">Add New Player</a>
            </p>
        </tbody>
    </table>
</body>
</html>